button.add {
  background-color:khaki;
  font-family:sans-serif;
}

button.upgrade {
  background-color:aqua;
  font-size:31px;
  veher-text-shadow:1px 2px blue;
}

.tabs {
   display:flex;
   justify-content:center;
}

#changelogTitle, #changelogContent {
  text-align:center;
  vue-align:center;
}
